body {
    background: linear-gradient(135deg, #F2CB57, #f7e19e);
}

.resetGameBtn {
    display: flex;
    background-color: #7552F2;
    border: 2px solid #5237b2;
    color: #FFFFFF;
    padding: 13px 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    margin: 0 0 0 34px;
}