.hangmanGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .hangmanDrawing img {
    max-width: 100%;
    height: auto;
}

.hangmanGame h1 {
    display: flex;
    justify-content: center;
    /* font-size: 65px; */
    color: #F26BC3;
}

.hangmanContainer {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    /* margin-top: 60px; */
}

/* .hangmanDrawing {
    margin-bottom: 95px;
} */

.wordDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 30px;
    margin-top: 140px; */
}

.letter {
    /* padding: 16px;
    font-size: 50px; */
    text-transform: uppercase;
    /* font-weight: 600; */
}

/* .gameOverHangman {
    margin: -78px 0 0 0;
} */

.gameOverHangman h2{
    /* font-size: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    /* margin-bottom: -35px; */
}

.gameOverHangman h3{
    /* font-size: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

/* .winnerHangman {
    margin: -78px 0 0 0;
} */

.winnerHangman h2 {
    /* font-size: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #378a11;
    /* margin-bottom: -35px; */
}

.winnerHangman h3 {
    /* font-size: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.hangmanKeyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 0px 500px 90px 500px; */
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* padding: 24px;
    margin: 8px;
    font-size: 50px;
    height: 20px;
    width: 20px; */
    background:#9BC1F2;
    border-radius: 15px;
    box-shadow: 5px 10px #6a89a7;
}

.key.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.key:hover {
    animation: bubble 0.4s ease-out;
}
  
@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

@media screen and (max-width:1445px)  {
    .hangmanContainer {
        margin-top: 32px;
    }
    
    .hangmanGame h1 {
        margin-top: -55px;
        font-size: 48px;
    }

    .hangmanDrawing img {
        width: 272px;
        height: auto;
    }

    .wordDisplay {
        margin-top: 125px;
    }
    
    .letter {
        padding: 12px;
        font-size: 38px;
    }

    .hangmanKeyboard {
        margin: -18px 370px 0 370px;
    }

    .key {
        padding: 20px;
        margin: 6px;
        font-size: 30px;
        font-weight: 500;
        height: 12px;
        width: 12px;
        box-shadow: 5px 6px #6a89a7;
    }

    .gameOverHangman {
        margin-top: -98px;
    }
    
    .gameOverHangman h2{
        font-size: 24px;
        margin-bottom: -30px;
    }
    
    .gameOverHangman h3{
        font-size: 24px;
        margin-bottom: 18px;
    }

    .winnerHangman {
        margin-top: -98px;
    }
    
    .winnerHangman h2 {
        font-size: 24px;
        margin-bottom: -30px;
    }
    
    .winnerHangman h3 {
        font-size: 24px;
        margin-bottom: 18px;
    }
}

@media screen and (max-width:768px)  {
    .hangmanContainer {
        margin-top: 18px;
    }

    .hangmanGame {
        justify-content: center;
        margin-top: -18px;
    }
    
    .hangmanGame h1 {
        font-size: 32px;
        margin-top: -42px;
    }

    .hangmanDrawing img {
        width: 218px;
        height: auto;
    }

    .wordDisplay {
        margin-top: 75px;
    }

    .letter {
        padding: 10px;
        font-size: 30px;
    }

    .hangmanKeyboard {
        margin: -20px 70px 0 70px;
    }

    .key {
        padding: 18px;
        margin: 5px;
        font-size: 30px;
        box-shadow: 5px 5px #6a89a7;
    }

    .gameOverHangman h3{
        font-size: 24px;
        margin: 28px 0 18px 0;
    }

    .winnerHangman h3 {
        font-size: 24px;
        margin: 28px 0 18px 0;
    }
}

@media screen and (max-width:475px)  {

    .hangmanContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .hangmanGame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hangmanGame h1 {
        font-size: 34px;
        margin: 28px 0 0 0;
    }

    .hangmanDrawing {
        width: 100%;
        text-align: center;
    }

    .hangmanDrawing img {
        max-width: 100%;
        height: auto;
    }

    .wordDisplay {
        width: 100%;
        margin-top: -158px;
    }

    .letter {
        padding: 8px;
        font-size: 28px;
    }

    .hangmanKeyboard {
        margin: 0px 5px 0 5px;
    }

    .key {
        padding: 12px;
        border-radius: 5px;
        margin: 3px;
        font-size: 16px;
        box-shadow: 3px 3px #6a89a7;
    }

    .gameOverHangman {
        margin-top: -68px;
    }

    .winnerHangman {
        margin-top: -68px;
    }

    .gameOverHangman h2 {
        font-size: 18px;
    }

    .winnerHangman h2 {
        font-size: 18px;
    }

    .gameOverHangman h3{
        font-size: 18px;
    }

    .winnerHangman h3 {
        font-size: 18px;
    }
}