.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 450px 0 450px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px;
    margin: 8px;
    font-size: 50px;
    height: 38px;
    width: 38px;
    background:#ebebeb;
    border-radius: 15px;
    box-shadow: 5px 10px #6a89a7;
}

.key:hover {
    background-color: #6a89a7;
    box-shadow: 5px 10px #ebebeb;
    animation: bubble 0.4s ease-out;
}
  
@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

.word-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.letter {
    padding: 16px;
    margin: 0 0 16px 0;
    font-size: 50px;
}

.hangman-drawing {
    display: flex;
    align-items: center;
    justify-content: center;
}

