.hangmanGame h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: #F26BC3;
}

.hangmanContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.hangmanDrawing {
    margin-bottom: 95px;
}

.wordDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 140px;
}

.letter {
    padding: 16px;
    font-size: 50px;
}

.gameOverMessage {
    margin: -90px 0 0 0;
}

.gameOverMessage h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.gameOverMessage h3{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 500px 90px 500px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px;
    margin: 8px;
    font-size: 50px;
    height: 20px;
    width: 20px;
    background:#9BC1F2;
    border-radius: 15px;
    box-shadow: 5px 10px #6a89a7;
}

.key.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.key:hover {
    animation: bubble 0.4s ease-out;
}
  
@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}



