.gamescontainer h1 {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  margin: 8px 24px 0 0;
}

/* div for all games buttons */
.gamesBtn {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
}

.hangmanBtn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  color: #000000;
  background-color: #4CBB17;
  border: 2px solid #378a11;
}

.wordleBtn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  color: #000000;
  background-color: #4CBB17;
  border: 2px solid #378a11;
}

.numberGuesserBtn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  color: #000000;
  background-color: #4CBB17;
  border: 2px solid #378a11;
}

/* div for restart game and back button */
.actionBtn { 
  display: flex;
}

.backBtn {
  display: flex;
  align-items: center;
  background-color: #BF2A45;
  border: 2px solid #791d2e;
  color: #FFFFFF;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 0 0 24px;
}

.resetGameBtn {
  display: flex;
  align-items: center;
  background-color: #7552F2;
  border: 2px solid #5237b2;
  color: #FFFFFF;
  padding: 13px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 0 0 12px;
}

@media screen and (max-width:768px) {
  .actionBtn { 
    display: flex;
    margin-top: -30px;
  }

  .backBtn {
    padding: 12px 24px;
    font-size: 16px;
    margin: 0 0 0 8px;
  }
}
